@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Skranji:wght@400;700&display=swap');


:root{

--background:#d7d0c1;

--sidebar:#611616;

--header:#2d2926;

--panel:#ece1c0;

--card:#f6edd3;

--gold:#d4af37;

--gold-hover:#f1d26b;

--border:#8b6a2b;

--text:#292929;

--light:#f8f2dd;

--shadow:rgba(0,0,0,.25);
}
body {
    font-family: 'Metamorphous';
}

.sidebar {
    background-color: var(--sidebar);
    color: #f4e6c2;
    padding: 24px;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 40px;
}

.sidebar h1 {
    font-size: 2rem;
    display: grid;
    grid-template-columns: 48px 1fr;
    align-items: center;
    gap: 12px;
    font-size: 1.8rem;
}
.sidebar h1 img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}
.sidebar ul {
    list-style: none;
    display: grid;
    gap: 18px;
}
.sidebar li {
    display: grid;
    grid-template-columns: 28px 1fr;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    transition: .25s;
}
.sidebar li:hover {
    background-color: rgba(255,255,255,08);
    transform: translateX(6px);
    color: black;
}
.separator {
    height: 2px;
    background-color: 255,255,255,.15;
    margin: 18px 0;
}

header {

    display: grid;

    grid-template-columns: 2fr 1fr;

    grid-template-rows: auto auto;

    gap: 20px;

    padding: 20px 30px;

    background: #2d2a24;

    border-bottom: 3px solid #8b6a2b;

}
.search {

    display: grid;

    align-items: center;

}
.search input {
    width: 100%;
    padding: 12px 18px;
    border: none;
    border-radius: 25px;
    background: #efe6c7;
    font-size: 1rem;
}
.profile {
    display: grid;
    grid-template-columns: 80px auto;
    gap: 20px;
    align-items: center;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 4px solid #d6b04d;
    object-fit: cover;
}
.profile h2 {
    color: #f5e7b5;

}
.profile p {
    color: #c7b998;
}
.buttons button {
    background: #8d1f1f;
    color: #f5e7b5;
    border: 2px solid #d6b04d;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    transition: .3s;
}
.buttons button:hover {
    background-color: #b22a2a;
    transform: translateY(-3px);
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:24px;
    margin-top:20px;
}

.card{
    background:var(--clr-card);
    border-left:8px solid var(--clr-gold);
    border-radius:12px;
    padding:22px;
    box-shadow:0 6px 12px rgba(0,0,0,.15);
    transition:all .25s ease;
}

.card:hover{
    transform:translateY(-6px);
    box-shadow:0 12px 24px rgba(0,0,0,.25);
}

.card h3{
    font-family:"Cinzel", serif;
    margin-bottom:15px;
    color:#5b1b1b;
}

.card p{
    line-height:1.5;
    margin-bottom:20px;
}

.project-info{
    display:grid;
    gap:8px;
    font-size:.9rem;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:24px;
    margin-top:20px;
}

.card{
    background:var(--clr-card);
    border-left:8px solid var(--clr-gold);
    border-radius:12px;
    padding:22px;
    box-shadow:0 6px 12px rgba(0,0,0,.15);
    transition:all .25s ease;
}

.card:hover{
    transform:translateY(-6px);
    box-shadow:0 12px 24px rgba(0,0,0,.25);
}

.card h3{
    font-family:"Cinzel", serif;
    margin-bottom:15px;
    color:#5b1b1b;
}

.card p{
    line-height:1.5;
    margin-bottom:20px;
}

.project-info{
    display:grid;
    gap:8px;
    font-size:.9rem;
}